<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.profesor.ud4prac3">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UD4PRAC3ActivityMain"
            android:label="@string/title_activity_ud3_act9_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UD4PRAC3ActivityAux"
            android:label="@string/title_activity_ud3_act9_aux" >
        </activity>
    </application>

</manifest>
